@import '../../style/index.css';

.if-user-logged__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dresseur__name {
  display: flex;
  justify-content: center;
  font-family: 'Rajdhani', sans-serif;
  font-size: 50px;
  margin-top: 3rem;
  color: #ffe12f;
  text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5,
    -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5,
    -2px 0px 0 #4074b5, 0px -2px 0 #4074b5, 2px 2px 2px rgb(52 106 189 / 0%);
}

/* ========== MOBILE M ========== */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .dresseur__name {
    font-size: 35px;
  }
}
