.connexion__container {
  width: 500px;
  margin-top: 5rem;
  padding: 2rem;
  background-color: #fff;
  border-radius: 20px;
}

.pokemon__links {
  margin-top: 2rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .connexion__container {
    width: 300px;
  }

  .pokemon__links a {
    font-size: 11px;
    text-decoration: underline;
  }
}
